.large-car {
  position: relative;
  border-bottom: 10px solid $mainRed;

  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    color: rgb(245, 231, 231);
  }

  &__image {
    display: block;
  }
}
